::-moz-selection {
  background: #f0d342;
  color: #000;
}
::selection {
  background: #f0d342;
  color: #000;
}

:root {
  color: #333;
  background-color: #fefefe;
  font-size: 16px;
}
body {
  font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
  margin: 0;
  overflow-y: scroll;
  counter-reset: heading2;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", Roboto, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol", sans-serif;
  }
}

/* Set font for headings */
h1,h2,h3,h4,h5,h6 {
  line-height: 1.1;
  font-weight: 800;
  scroll-margin-top: .5em;
}
main p,
main ul,
main ol,
main dl {
  line-height: 1.2;
}
b,strong {
  font-weight: 600;
}
summary {
  cursor: default;
}
h3 > a[href],
h3 > a[href]:visited,
h3 > a[href]:hover {
  color: #434343;
}
h3 > a:hover {
  color: #111;
}
a[href], a[href]:hover, a[href]:active, a[href]:focus {
  font-weight: 500;
  color: #1756a9;
}
#go-home {
  display: inline-block;
  color: #111;
  line-height: 54px;
  vertical-align: middle;
}
#go-home:hover, #go-home:active, #go-home:focus {
  color: #1756a9;
}
#go-home img {
  width: 2rem;
  margin-right: 3px;
}
.post-content {
  position: relative;
}
dl,
.post-header,
.post-content p,
.post-content ul,
.post-content ol,
.post-content blockquote,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content .table-wrapper {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
.post-content blockquote {
  color: #4a4a4a;
  padding-left: 2rem;
  font-size: inherit;
  letter-spacing: inherit;
  font-style: inherit;
}
.note, .people-mentioned {
  border: 1px solid #eee;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: 5px 5px 10px 0 #ececec;
     -moz-box-shadow: 5px 5px 10px 0 #ececec;
          box-shadow: 5px 5px 10px 0 #ececec;
  font-size: 90%;
  background-color: #fefefe;
  padding: 0.75rem 1rem;
  position: relative;
  --y: 0;
}
.note.notebio {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23808080' d='M2,3H22C23.05,3 24,3.95 24,5V19C24,20.05 23.05,21 22,21H2C0.95,21 0,20.05 0,19V5C0,3.95 0.95,3 2,3M14,6V7H22V6H14M14,8V9H21.5L22,9V8H14M14,10V11H21V10H14M8,13.91C6,13.91 2,15 2,17V18H14V17C14,15 10,13.91 8,13.91M8,6A3,3 0 0,0 5,9A3,3 0 0,0 8,12A3,3 0 0,0 11,9A3,3 0 0,0 8,6Z'/%3E%3C/svg%3E");
  background-position: 12px .5rem;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 3rem;
}
@media screen and (min-width: 1175px) {
  .post-content .note.sidenote {
    position: absolute;
    left: 755px;
    width: 150px;
    font-size: 80%;
    -webkit-transform: translateY(var(--y));
       -moz-transform: translateY(var(--y));
        -ms-transform: translateY(var(--y));
         -o-transform: translateY(var(--y));
            transform: translateY(var(--y));
  }
  .post-content .note.sidenote::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -1rem;
    border-left-width: 0px;
    border-right: 1rem solid #f6f6f6;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
  }
}
@media screen and (min-width: 1450px) {
  dl,
  .post-header,
  .post-content p,
  .post-content ul,
  .post-content ol,
  .post-content blockquote,
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    max-width: 800px;
  }
  .wrapper {
    max-width: -webkit-calc(1000px - (30px * 2));
    max-width: calc(1000px - (30px * 2));
  }
}
/* Padding on all pages' content */
.page-content {
  padding: 3em 0;
}
.site-header {
  border: 0;
}
.site-nav {
  z-index: 100;
}
@media screen and (max-width: 700px) {
  .post-content ul, .post-content ol {
    margin-left: 1.5rem;
  }
}

.sr-only {
  position: absolute;
  width: 0.01px;
  height: 0.01px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*---------------  TAGS  ---------------*/
/* Tag name */
h2.tag-name {
  font-family: inherit;
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
}
h2.tag-name::before {
  content: "#";
  color: #bfbfbf;
}
.tag-list {
  list-style: none;
  margin-left: 1.5em;
}
.tag-item .info-tagged-wrapper {
  width: -webkit-calc(100% - 9em);
  width: -moz-calc(100% - 9em);
  width: calc(100% - 9em);
  display: inline-block;
  vertical-align: top;
}
.dt-tagged-wrapper {
  text-align: right;
  display: inline-block;
  width: 7em;
  margin-right: 1em;
}
.post-meta small {
  font-size: 75%;
}
.dt-label {
  font-weight: bold;
}
.post-header .post-meta {
  color: inherit;
}
.post-meta-wrapper {
  margin-bottom: 1.5rem;
}
.post-title {
  margin-bottom: .2rem;
}

/*---------------  HOME  ---------------*/
.home .logo {
  width: 6rem;
  margin-right: 20px;
}
/* Post title */
.post-link {
  font-size: 1.1em;
  letter-spacing: -1px;
  line-height: .95;
}
/* Post language */
.post-lang {
  color: #828282;
}
.post-lang::before {
  content: "•";
}
/* Style post categories*/
p.post-categories {
  margin: 0;
}
span.post-category {
  font-size: 70%;
  padding: .3em .6em;
  color: #111;
  background-color: #e8e8e8;
  margin-right: .5em;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
/* Remove ugly underline from title */
a[href].site-title  {
  font-size: 2rem;
  text-decoration: none !important;
}
h1.page-heading {
  font-size: 0;
  height: 5rem;
  max-width: 70vw;
  margin-bottom: 5rem;
  margin-top: -6rem;
}
.site-title:hover {
  color: transparent;
}
/* Info about post */
.post-meta {
  margin-bottom: 0;
}
/* Add divisors on posts on home */
.post-list > li:not(:last-of-type) {
  margin-bottom: 1.5em;
  padding-bottom: 1.5em;
  border-bottom: 2px solid #e8e8e8;
}
/* Customize excerpt */
.post-excerpt {
  color: #828282;
}

section.card {
  position: relative;
  padding: 1em;
  overflow: hidden;
}
section.card > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-size: cover;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  transform: scale(1);
  box-sizing: border-box;
  transition: transform .2s ease;
}
section.card:focus > div,
section.card:focus-within > div,
section.card:hover > div {
  transform: scale(1.15);
}
section.card a[href] {
  font-weight: normal;
  font-size: 125%;
  line-height: 1;
  margin: 0;
  background-color: rgba(255,255,255,0.9);
  display: block;
  padding: 3em;
  color: inherit;
}


/*---------------  POST  ---------------*/
/* Disclaimer before post */
p.post-disclaimer {
  position: relative;
  padding: .5em 2.5em;
  border: 1px solid;
  color: darkcyan;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}
p.post-disclaimer a[href] {
  text-decoration: underline;
}
p.post-disclaimer::before {
  content: "";
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='darkcyan' d='M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'/></svg>");
  position: absolute;
  height: 24px;
  width: 24px;
  left: .5em;
}
/* Author color */
.p-author {
  color: #444;
}
.blog-post h2::before,
.blog-post h3::before,
.blog-post h4::before {
  font-size: 50%;
}
@media screen and (min-width: 700px) {
  .blog-post h2::before,
  .blog-post h3::before,
  .blog-post h4::before {
    position: absolute;
    -webkit-transform: translateX(-webkit-calc(-100% - 0.5rem));
       -moz-transform: translateX(-moz-calc(-100% - 0.5rem));
        -ms-transform: translateX(calc(-100% - 0.5rem));
         -o-transform: translateX(calc(-100% - 0.5rem));
            transform: translateX(calc(-100% - 0.5rem));
    vertical-align: bottom;
    line-height: 3;
  }
}
.blog-post h5 {
  margin-top: 2.2rem;
  font-size: 1.1rem;
  font-family: inherit;
  font-weight: 500;
}
.blog-post .hidden {
  visibility: hidden;
  font-size: 0;
}
.blog-post [id] {
  scroll-margin-top: 2ex;
}
/* Customize <hr> because minima's is awful*/
hr {
  height: 3px;
  background-color: #e8e8e8;
  border: none;
  outline: none;
  margin: 3em;
}
/* Horizontally align images on post */
.post-content p img,
.post-content p video {
  display: block;
  margin: 0 auto;
}
table {
  display: block;
  margin: 3rem auto;
  width: fit-content;
  overflow-x: auto;
}
table td.center {
  text-align: center;
}
table.clean, table.clean th, table.clean td {
  border: 0;
}
table.clean th, table.clean td {
  padding: .2em .5em;
}
figure {
  text-align: center;
  margin: 3rem 0;
}
figure img, figure video {
  max-height: calc(2 * var(--d));
  max-width: 100%;
  height: auto;
  display: inline-block;
  filter: drop-shadow(3px 3px 5px #ccc);
}
figure.top    { margin-bottom: 1rem; }
figure.bottom { margin-top: 1rem; }
figure.left   { text-align: left; }

@media screen and (min-width: 500px) {
  figure.side img,
  figure.side video {
    max-width: 60%;
  }
}
/* ---   Image captions    --- */
figcaption {
  color: #828282;
  margin: 1em 0;
  display: block;
  text-align: center;
  line-height: 1.1;
}
figure:not(.side) figcaption {
  padding: 0 4em;
}
@media screen and (max-width: 500px) {
  figcaption {
    margin: 1em;
    padding: 0 !important;
  }
}
@media screen and (min-width: 500px) {
  figure.side figcaption {
    display: inline-block;
    text-align: left;
    margin: 1em;
    vertical-align: bottom;
    width: 30%;
  }
}

#markdown-toc {
  padding: 0 1rem;
  font-size: 75%;
}
#markdown-toc::before {
  content: "Conteúdo:";
  font-weight: 500;
  font-size: 150%;
  margin-bottom: 0.25rem;
  display: block;
}
#markdown-toc li {
  margin-left: 0.75rem;
}
#markdown-toc ol,
#markdown-toc ul {
  padding-left: 1rem;
  font-size: inherit;
  border-left: 2px solid #e8e8e8;
  margin-left: -0.55rem;
}
/* --- Open in new tab SVG --- */
svg.a_blank {
  width: 1em;
  fill: #8c8c8c;
  vertical-align: baseline;
  -webkit-transform: translateY(3px);
     -moz-transform: translateY(3px);
      -ms-transform: translateY(3px);
       -o-transform: translateY(3px);
          transform: translateY(3px);
  margin-left: 3px;
}
[href]:hover > svg.a_blank {
  fill: #111;
}

dt {
  display: inline-block;
  font-weight: 500;
}
dt::after {
  content: ":";
}
dd {
  margin-bottom: .5em;
  margin-left: .5em;
}
/* --- + --- + --- + --- + --- */


/*--------------- FOOTER ---------------*/
/* Mirror header border color on footer */
.site-footer {
  background-color: #22252d;
  color: #efefef;
}
.site-footer .footer-col-wrapper {
  color: #b3b3b3;
}
.site-footer a[href] {
  color: #e8e8e8;
}
.contact-list {
  text-align: right;
}
/* Properly align svg's on <footer> */
.svg-icon {
  margin-top: -3px;
  vertical-align: middle;
  fill: #e8e8e8;
}
.site-footer .logo {
  width: 3rem;
  margin-right: .5em;
}
/* --- + --- + ------------ + --- + --- */

.icon-diameter::before, .icon-value::before,
.icon-currency::before, .icon-world::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 24px;
  margin-right: .5em;
}
.icon-diameter::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M3,5V21H9V19.5H7V18H9V16.5H5V15H9V13.5H7V12H9V10.5H5V9H9V5H10.5V9H12V7H13.5V9H15V5H16.5V9H18V7H19.5V9H21V3H5A2,2 0 0,0 3,5M6,7A1,1 0 0,1 5,6A1,1 0 0,1 6,5A1,1 0 0,1 7,6A1,1 0 0,1 6,7Z'/%3E%3C/svg%3E");
  transform: rotate(45deg);
  margin-top: .3em;
}
.icon-value::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5,6H23V18H5V6M14,9A3,3 0 0,1 17,12A3,3 0 0,1 14,15A3,3 0 0,1 11,12A3,3 0 0,1 14,9M9,8A2,2 0 0,1 7,10V14A2,2 0 0,1 9,16H19A2,2 0 0,1 21,14V10A2,2 0 0,1 19,8H9M1,10H3V20H19V22H1V10Z'/%3E%3C/svg%3E");
  margin-top: -0.3em;
}
.icon-currency::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M4.41 3L3 4.41L5.69 7.1C4.63 8.46 4 10.15 4 12C4 13.85 4.63 15.55 5.69 16.9L3 19.59L4.41 21L7.1 18.31C8.46 19.37 10.15 20 12 20C13.85 20 15.55 19.37 16.9 18.31L19.59 21L21 19.59L18.31 16.9C19.37 15.54 20 13.85 20 12C20 10.15 19.37 8.45 18.31 7.1L21 4.41L19.59 3L16.9 5.69C15.54 4.63 13.85 4 12 4C10.15 4 8.45 4.63 7.1 5.69L4.41 3M12 6C15.31 6 18 8.69 18 12C18 15.31 15.31 18 12 18C8.69 18 6 15.31 6 12C6 8.69 8.69 6 12 6Z'/%3E%3C/svg%3E");
  margin-top: -0.15em;
}
.icon-world::before {
  background-image: url("data:image/svg+xml,%3Csvg fill='%23333' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M17.9,17.39C17.64,16.59 16.89,16 16,16H15V13A1,1 0 0,0 14,12H8V10H10A1,1 0 0,0 11,9V7H13A2,2 0 0,0 15,5V4.59C17.93,5.77 20,8.64 20,12C20,14.08 19.2,15.97 17.9,17.39M11,19.93C7.05,19.44 4,16.08 4,12C4,11.38 4.08,10.78 4.21,10.21L9,15V16A2,2 0 0,0 11,18M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z'/%3E%3C/svg%3E");
  margin-top: -0.15em;
}

@media screen and (max-width: 500px) {
  .icon-diameter::before, .icon-value::before,
  .icon-currency::before, .icon-world::before {
    display: none;
  }
}